.logo {
    width: 100px; /* Adjust to your desired size */
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .logo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .navbar-custom {
    background-color: #006400;
  }
  .navbar-custom .nav-link:hover,
.navbar-custom .dropdown-toggle:hover {
  text-decoration: underline;
  
}
.navbar-custom .nav-link:active,
.navbar-custom .dropdown-toggle:active {
  transform: scale(0.92);
  transition: transform 0.1s ease;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
  min-width: 12rem;
}
.carousel-img {
  width: 100%; /* Ensures the image fills the carousel */
  height: 300px; /* Set a fixed height */
  object-fit: cover; /* Ensures uniform size without distortion */
  object-position: top;
}


strong {
  font-weight: 500; /* Reduce boldness (default is 700) */
  font-size: 14px;  /* Reduce font size */
  color: #333; /* Adjust color for softer appearance */
}


/* Navbar transition effects */
.navbar-custom {
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Shadow effect when scrolled */
.shadow-lg {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Search bar adjustments */
.form-control {
  width: 200px;
}

/* Dropdown hover effect */
.navbar-nav .nav-link,
.navbar-nav .nav-dropdown {
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-dropdown:hover {
  color: #f8c102 !important; /* Highlight color */
}

.item-price{
  color: #f8c102 !important;
  text-align: center;

}


img{
  width: 100px;
  height: 100px;
}
button:active{
  transform: scale(0.92);
  transition: transform 0.1s ease;
}
.cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.cart-item div{
  min-width: 250px;

}
.container-items {
  display: flex;
  flex-wrap: wrap;  /* Allows items to wrap to new lines */
  gap: 20px;  /* Consistent spacing */
  justify-content: center; /* Ensures uniform distribution */
  padding: 20px;
}

.card-container {
  flex: 1 1 250px;  /* All items have a minimum width of 250px */
  max-width: calc(20%-10px);  /* Prevents uneven growing */
  background: #f4f4f4;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .card-container {
    max-width: 100% !important; /* Ensures full width on small screens */
    width: 100%; /* Makes it responsive */
  }
}
.item-name{
  text-align: center;
}
.item-body{
  text-align: center;
}
